<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styleDetails.css">
    <link rel="stylesheet" href="../../../css/root.css">
    <title>Detalhes do Processo</title>
</head>

<body>

    <header>
        <p> <a href="/homePage" style="text-decoration: none; color: black;">Voltar</a></p>
        <p>Informações Sobre o Processo</p>
    </header>
   
    <div class="content">
        <div class="card">

            <div id="Process">
                <p>Processo de <%=processo.Job.name%></p>
            </div>

            <div id="Detalhes">
                <p>Detalhes sobre a vaga: <%= processo.details%></p>
            </div>

            <div class="Topics">

                <p>Data limite de inscrição: <%= `${processo.date.getDay()}/${processo.date.getMonth()}/${processo.date.getFullYear()}`%></p>

                <p>Taxa de inscrição: <%=processo.subscription_fee %></p>

                <p>Etapas: <%=processo.phases %></p>

                <p>Vagas: <%= processo.capacity %></p>

            </div>

            <div class="Inscrever">
                <button class="btn" type="submit">Se Inscrever</button>
            </div>



        </div>
    </div>

</body>

</html>