<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/HomePage.css">
    <link rel="stylesheet" href="css/CreateProcess.css">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>Administrador | Home Page</title>
</head>
<body>

<div class="header">
    <p><a href="/disconnect" style="text-decoration: none; color: black;">Sair</a></p>
    <p>Tela de Administrador</p>
</div>

    <div id="Processo">
        <p>Lista de Processos</p>
    </div>

    <div class="main">
        <table class="container bordered centered highlight responsive-table">
            <tr>
                <td></td>
                <td></td>

                <td>
                    <div class="box">
                        <a id="buttonCreate" href="#popup1">Criar Processo</a>
                    </div>
                    
                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h3>Criar Processo</h3>
                            <a class="close" href="#">&times;</a>
                            
                            <div class="content">
                                <form method="POST" action="/admHomePageEndPoint">
                                    <input type="text" name="job" id="job" placeholder="Nome da Vaga" required> 
                                    <input type="number" name="capacity" id="capacity" placeholder="Capacidade" required>
                                    <input type="date" name="date" id="date" placeholder="Data Limite de Inscrição" required>
                                    <input type="number" name="phases" id="phases" placeholder="Quantidade de Fases" required>
                                    <textarea name = "description" id="textArea" placeholder="Detalhes da Vaga" style="overflow-y: hidden;" required></textarea>
                                    <input type="number" name="subscription_fee" id="subscription_fee" placeholder="Taxa de Inscrição" required>
                                    <button type="submit" class="btn">Criar</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </td>

                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Data</b></td>
                <td><b>Nome</b></td>
                <td><b>Qtd. Inscritos</b></td>
                <td><b>Detalhes</b></td>
                <td><b>Editar</b></td>
            </tr>

            

            <% for (let i = 0; i < DataProcess[0].length; i++) { %>
                <tr>
                    <td><%= `${DataProcess[0][i].date.getDay()}/${DataProcess[0][i].date.getMonth()}/${DataProcess[0][i].date.getFullYear()}` %> </td> 
                    <td><%= DataProcess[0][i].job%> </td> 
                <td><%= DataProcess[0][i].NumeroDeInscritos %> </td> 
                <td> <a id="link" href="../admCandidate/<%=DataProcess[0][i].id%>"> Visualizar</a></td> 
                <td> <a id="link" href="#popup2%>" onclick="(() => {changeProcess(<%=i%>, <%=JSON.stringify(DataProcess[0])%>)}) ()"> Editar</a> </td> 

                <div id="popup2" class="overlay">  
                    <div class="popup">
                        <h3>Editar Processo</h3>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <form method="POST" action="/editProcess">
                                <input type="text" name="id" value="<%=DataProcess[0][i].id%>" hidden>
                                <input type="text" name="job" id="job" value=""  required> 
                                <input type="number" name="capacity" id="capacity" required>
                                <input type="date" name="date" id="date" value="" required>
                                <input type="number" name="phases" id="phases" required>
                                <textarea name="details" id="textArea" style="overflow-y: hidden;" required></textarea>
                                <input type="number" name="subscription_fee" id="subscription_fee" required>
                                <button type="submit" class="btn">Editar</button>
                            </form>
                        </div>
                    </div>
                </div>
                </tr>
            <% } %>

        </table>
    </div>
    <script src="js/editProcess.js"></script>
</body>
</html>
