<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/AdmProcessDetails.css">
    <link rel="stylesheet" href="../css/root.css">
    <title>Detalhes do Processo</title>
</head>

<body>
    <header>
        <p> <a href="/AdmHomePage" style="text-decoration: none; color: black;">Voltar</a></p>
        <p>Detalhes Sobre a Vaga</p>
    </header>
   
    <div class="content">
        <div class="card">
            <div id="Process">
                <p>Processo de <%= processo.job %></p>
            </div>
            
            <div id="Detalhes">
                <p>Detalhes sobre a vaga: <%= processo.details%></p>
            </div>
            <div class="container d-flex">
                <div class="Topics">
                    <p>Data limite de inscrição: <%= `${processo.date.getDay()}/${processo.date.getMonth()}/${processo.date.getFullYear()}` %></p>

                    <p>Taxa de inscrição: R$<%=processo.subscription_fee %></p>

                    <p>Etapas: <%=processo.phases %></p>

                    <p>Vagas: <%= processo.capacity %></p>
                </div>
                    <btn class="btn" id="btn-subs">Ver Inscritos</btn>
                </div>
            </div>
            <table id="subscribes" class="container bordered  highlight responsive-table">                        
                <tr>
                    <td><b>Foto</b></td>
                    <td><b>Nome</b></td>
                    <td><b>Detalhes</b></td>
                    <td><b>Excluir</b></td>
                </tr>

                <%for (let j = 0; j < i.length; j++) {%>
                        <tr>
                            <td><%=i[j].id%></td>
                            <td><%=i[j].name%></td>
                            <td>Mais</td>
                            <form action="/removeFromProcess" method="POST">
                                <td>
                                    <input type="text" name="ProcessId" value="<%=processo.id%>" hidden></input>
                                    <button type="submit" class="btn" value="<%=i[j].id%>" name="idUser">
                                        Excluir
                                    </button>
                                </td>
                            </form>
                        </tr>
                    </div>
                <%}%>
            </table>
        </div>
    </div>

    <script src="../js/showSubs.js"></script>
</body>

</html>
